{{ partial "global/head" . }}
{{ partial "global/navbar.html" . }}
<div class="background-image" style="background:linear-gradient(rgb(243 182 182 / 43%),rgb(243 182 182 / 50%)),url(/uploads/desk.jpg) no-repeat center;background-size:cover;padding-top:50px;padding-bottom:50px">
    <div class="section">
        <div class="container">
            <div class="columns">
                <div class="column has-text-centered">
                    <h1 class="title is-2 is-size-4-mobile has-text-black is-uppercase has-text-weight-normal">{{ .Title }}</h1>
                    {{ if .Params.date }}<h6 class="subtitle is-2">{{.Date.Format "January 2, 2006" }}</h6>{{ end }}

                </div>
            </div>
        </div>
    </div>
</div>
<main>
{{ block "main" . }}

{{ end }}
</main>
{{ partial "global/footer.html" . }}
