{{ define "main" }}
<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column content is-three-fifths is-offset-one-fifth editable">
                <p>&nbsp; &nbsp; &lt;chat-widget<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; style="--chat-widget-primary-color: #188bf6; --chat-widget-active-color:#188bf6 ;--chat-widget-bubble-color: #188bf6"<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; location-id="9S86X67sE2Jghp6eQqiJ"<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; prompt-avatar="https://widgets.leadconnectorhq.com/chat-widget/assets/defaultAvatar.png"<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<br />&nbsp; &nbsp; &nbsp; &gt;&lt;/chat-widget&gt;<br />&nbsp; &nbsp; &nbsp; &nbsp;&lt;script src="https://widgets.leadconnectorhq.com/loader.js"<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; data-resources-url="https://widgets.leadconnectorhq.com/chat-widget/loader.js" &gt;&lt;/script&gt;</p>
            </div>
        </div>
    </div>
</div>
{{ end }}
