{{ define "main" }}
<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="columns is-multiline">
                    {{ range .Params.podcasts }}
                        <div class="column is-4">
                            <div class="card" style="margin: 10px;">
                                  <div class="card-content">
                                        <h2 class="has-text-black title is-4">{{ .podcast_name }}</h2>
                                    <a href="{{ .podcast_link }}" class="primary-color">View podcast</a>
                                  </div>
                            </div>
                        </div>   
                    {{ end }}
                    </div>
            </div>
        </div>
    </div>
</div>
{{ end }}