<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      {{ $popUp := .Site.Data.popup }}
      <p class="modal-card-title">{{ $popUp.title }}</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <div class="columns">
        {{/*  <div class="column">
          <img src="/uploads/main.png" alt="" style="width:100%;">
        </div>  */}}
          <div class="column is-three-fifths is-offset-one-fifth">
              <div class="has-text-centered">
                  <h2 class="title is-4">{{ $popUp.heading }}</h2>
                  <p class="is-size-6 mb-4">{{ $popUp.body | markdownify }}</p>
              </div>
            <form name="{{ $popUp.form_name }}" method="POST" netlify-honeypot="bot-field" data-netlify="true">
                <input name="bot-field" type="hidden" />
                <input type="hidden" name="Subject" value="{{ $popUp.email_subject }}" />
            <div class="field">
                <div class="control">
                  <input class="input" type="email" placeholder="Your Email" name="email" required>
                </div>
                <div class="control mt-2">
                  <input class="input" type="text" placeholder="First Name" name="First Name" required>
                </div>
                <div class="control mt-2">
                  <input class="input" type="tel" placeholder="Phone" name="Phone" required>
                </div>
              </div>
              
              <div class="field has-text-centered">
                <div class="control">
                  <button class="button">Submit</button>
                </div>
              </div>
              </form>
          </div>
      </div>
    </section>
  </div>
</div>