{{ $alert := .Site.Data.homelayout.hero_banner }}
<div class="section" style="background:#eeeeee">
    <div class="container">
        <div class="columns">
            <div class="column has-text-centered">
                <div class="content">
                    {{ if $alert.heading }}<h2 class="title is-4">{{ $alert.heading }}</h2>{{ end }}
                    {{ if $alert.body }}{{ $alert.body | markdownify }}{{ end }}
                </div>
            </div>
        </div>
    </div>
</div>