<div class="section" style="background:#eeeeee">
    <div class="container">
        <div class="columns">
            <div class="column has-text-centered">
                <div>
                    <h4 class="title is-4">Social Distancing Resources</h4>
                    <p>Are you in search of resources to help you adjust to social distancing and issues related to COVID-19? I’ve got you!</p>
                    <p>Drop me a DM on Instagram <strong>@mompreneursuccessacademy</strong> or email  me at <strong>denise@mompreneursuccessacademy.com</strong> and I’ll get it to you.</p>
                </div>
            </div>
        </div>
    </div>
</div>