{{ $alert := .Site.Data.homelayout.hero_banner }}
<div class="section" style="background:#eeeeee">
    <div class="container">
        <div class="columns">
            <div class="column has-text-centered">
                <div class="content editable">
                	<h2 class="title is-4">Tired of the struggle? Ready to get to profitable?</h2>
                	<p>Drop me a DM on Instagram <strong>@mompreneursuccessacademy</strong> or email me at <strong><a href="mailto:denise@mompreneursuccessacademy.com">denise@mompreneursuccessacademy.com</a></strong> and let's connect.</p>
                </div>
            </div>
        </div>
    </div>
</div>
