{{ $review := .Site.Data.homelayout.testimonial }}
<div class="background pb-6" style="background: var(--primary-color)">
    <div class="section">
        <div class="container">
            <div class="columns has-text-black is-multiline is-variable is-4">
                {{ range $review.testimonials }}
                <div class="column is-6 mt-6">
                    <div class="border">
                        <img src="/uploads/left-quotes-sign.svg" alt="left quote sign">
                        <p>{{ .review }}</p>
                        <em>{{ .name }}</em>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>