{{ $info := .Site.Data.homelayout.information }}
<div class="section" style="background:linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.9)),url(/uploads/desk.jpg) no-repeat center">
    <div class="container">
        <div class="columns">
            <div class="column is-half is-offset-one-quarter has-text-centered editable">
                <h2 class="subtitle" style="font-size: 4em">{{ $info.subtitle }}</h2>
                <h3 class="title  is-4">{{ $info.heading }}</h3>
                <div class="content">
                    {{ $info.body | markdownify }}
                </div>
            </div>
        </div>
        <div class="columns has-text-centered is-multiline">
            {{ range $info.steps }}
            <div class="column  is-4">
                <div class="numbers">
                    {{ if .number }}<p class="title">{{ .number }}</p>{{ end }}
                    {{ if .heading }}<h2>{{ .heading }}</h2>{{ end }}
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>