{{ $info := .Site.Data.homelayout.information }}
<div class="section" style="background:linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.9)),url(/uploads/desk.jpg) no-repeat center">
    <div class="container">
        <div class="columns">
            <div class="column is-half is-offset-one-quarter has-text-centered">
                {{ if $info.subtitle }}<h2 class="subtitle" style="font-size: 4em">{{ $info.subtitle }}</h2>{{ end }}
                {{ if $info.heading }}<h1 class="title  is-4">{{ $info.heading }}</h1>{{ end }}
                <div class="content">
                    {{ $info.body | markdownify }}
                </div>
            </div>
        </div>
        <div class="columns has-text-centered is-multiline">
            {{ range $info.steps }}
            <div class="column  is-4">
                <div class="numbers">
                    {{ if .number }}<h1 class="title">{{ .number }}</h1>{{ end }}
                    {{ if .heading }}<p>{{ .heading }}</p>{{ end }}
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>