{{ $info := .Site.Data.homelayout.information }}
<div class="section" style="background:linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.9)),url(/uploads/desk.jpg) no-repeat center">
    <div class="container">
        <div class="columns">
            <div class="column is-half is-offset-one-quarter has-text-centered editable">
            	<h2 class="subtitle" style="font-size: 4em">Mompreneur Success Academy</h2>
            	<h3 class="title  is-4">MOMpreneur's Roadmap To Success</h3>
            	<div class="content">
            		<p>Are you a <strong>mom</strong>, <strong>entrepreneur,</strong> in the coaching and wellness space, just getting started in business or been in business for a while and you&rsquo;ve done all things but you still aren&rsquo;t profitable?</p>
            		<p>or</p>
            		<p>Have you started your business and the bills are stacking up and you need to make it balance out soon?</p>
            		<p>We can help.</p>
            		<p>We help MOM, entrepreneurs</p>
            		<p>create clear messaging;</p>
            		<p>develop effective marketing; and</p>
            		<p>use proven marketing strategies to grow profitable in your business.</p>
            		<p>Let us help you get your business on the path to success!</p>
            		<p>Here&rsquo;s how we can work together!</p>
            	</div>
            </div>
        </div>
        <div class="columns is-multiline">
            {{ range $info.steps }}
            <div class="column has is-4 has-text-centered">
                <div class="numbers">
                    {{ if .number }}<p class="title">{{ .number }}</p>{{ end }}
                    {{ if .heading }}<h2 class="has-text-weight-bold">{{ .heading }}</h2>{{ end }}
                    <div class="mb-5">
                        {{ .body | markdownify }}
                    </div>
                    {{ if .button_link }}
                    <div>
                        <a href="{{ .button_link }}" class="primary-btn">{{ .button_label }}</a>
                    </div>
                    {{ end }}
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>
