<section class="hero is-fullheight-with-navbar">
  {{ partial "global/navbar" . }}

  <div class="hero-body-main" style="background:linear-gradient(rgba(255,255,255,0.9),rgba(255,255,255,.95)),url(/uploads/drop.jpg) no-repeat center;background-size:cover">
    <div class="columns is-vcentered">
        <div class="column is-6">
          <div class="bg-hero" style="background:url(/uploads/bg5.jpg) no-repeat center;background-size:cover;height:80vh;box-shadow: -45px 30px #ef9fb4;">
          </div>
        </div>
        <div class="column">
          <div class="hero-right">
            <div class="hero-subtitle">
              <h3 class="subtitle">Welcome to</h3>
            </div>
            <h1 class="title is-3">MOMpreneur Success Academy</h1>
            <div class="content">
              <p>We help mom, entrepreneurs get clear, set goals and reach them. Whether it's help staying focused and on track with your business or you need help getting your mindset right or getting your vision, message and/or brand clear, this is the right place for you.</p>
              <br>
              <a href="" class="primary-btn">Learn More</a>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>