{{ $intro := .Site.Data.homelayout.introduction }}
<div class="bg-section" style="background:linear-gradient(rgba(255,255,255,0.9),rgba(255,255,255,.9)),url(/uploads/drop.jpg) no-repeat center;background-size:cover">
    <div class="big-section">
        <div class="container">
            <div class="columns is-vcentered is-variable is-8">
                <div class="column has-text-centered">
                    <img src="{{ $intro.image }}" alt="{{ $intro.image_alt_tag }}" />
                </div>
                <div class="column">
                    <h3 class="subtitle is-1 editable">
                    	Hello There!
                    </h3>
                    <h2 class="title is-3 editable">
                    	I'm Denise Fernander
                    </h2>
                    <div class="content">
                        <div class="editable">
                        	<p>&nbsp;</p>
                        	<p>I&rsquo;m a mom, business strategy/accountability coach, podcaster and the founder of MOMpreneur Success Academy. I help other mom, entrepreneurs get to profitable in as little as 90 days through clear messaging and go to marketing plans!</p>
                        	<p>I&rsquo;m a former classroom teacher, online teacher, curriculum &amp; instructional designer. I have also worked as a business &amp; educational consultant for over 20 years.</p>
                        	<p>My experience in business, coaching, speaking, teaching, and curriculum design and relationship-building provided me the skills to help clients hone in on their passion, EXACTLY what their community wants and needs, and help them build and grow a successful and sustainable online business.</p>
                        	<p>My greatest assets are my know-how, experience and love for inspiring and motivating others to reach their goals!</p>
                        	<p>Are you <strong>READY</strong> for your <strong>SUCCESS</strong>?</p>
                        	<p>&nbsp;</p>
                        </div>
                        <div class="is-block mt-6">
                            <a href="{{ $intro.button_link }}" class="primary-btn">{{ $intro.button_text }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
