<div class="bg-section" style="background:linear-gradient(rgba(255,255,255,0.9),rgba(255,255,255,.9)),url(/uploads/drop.jpg) no-repeat center;background-size:cover">
    <div class="big-section">
        <div class="container">
            <div class="columns is-vcentered is-variable is-8">
                <div class="column has-text-centered">
                    <img src="/uploads/2.jpg" alt="">
                </div>
                <div class="column">
                    <h1 class="subtitle is-1">Hello There!</h1>
                    <h1 class="title is-3">I'm Denise Fernander</h1>
                    <div class="content">
                        <p>I’m an educator, certified speaker & accountability coach with MOMpreneur Success Academy. I help other mom entrepreneurs get clear and in 90 days grow their business toward their first $100K! I’m a former classroom teacher, online teacher, curriculum & instructional designer. I have also worked as a business & educational consultant for over 20 years.</p>
                        <p>My experience in business, coaching, speaking, teaching, and curriculum design and relationship-building provided me the skills to help clients hone in on their passion, EXACTLY what their community wants and needs and help them build and grow a successful and sustainable online business. My greatest asset is my know howand experience!</p>
                        <p class="cta-p">Are you <strong>READY</strong> for your <strong>SUCCESS</strong>?</p>
                        <br>
                        <a href="" class="primary-btn">Schedule a Consultation</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>