{{ $intro := .Site.Data.homelayout.introduction }}
<div class="bg-section" style="background:linear-gradient(rgba(255,255,255,0.9),rgba(255,255,255,.9)),url(/uploads/drop.jpg) no-repeat center;background-size:cover">
    <div class="big-section">
        <div class="container">
            <div class="columns is-vcentered is-variable is-8">
                <div class="column has-text-centered">
                    <img src="{{ $intro.image }}" alt="{{ $intro.image_alt_tag }}">
                </div>
                <div class="column">
                    <h3 class="subtitle is-1 editable">{{ $intro.subtitle }}</h3>
                    <h2 class="title is-3 editable">{{ $intro.heading }}</h2>
                    <div class="content editable">
                        <p>{{ $intro.body | markdownify }}</p>
                        <br>
                        <div class="is-block mt-6">
                            <a href="{{ $intro.button_link }}" class="primary-btn">{{ $intro.button_text }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>