    <section class="hero is-fullheight-with-navbar" style="background:linear-gradient(rgba(57, 65, 65, 0.2),rgba(57, 65, 65, 0.2)),url(/uploads/bg2.jpg) no-repeat center 40%">
        {{ partial "global/navbar" . }}
        <div class="hero-body">
          <div class="container">
            <div class="columns">
                <div class="column is-half has-text-white">
                    <h2 class="subtitle" style="color: #ef9fb4;font-size: 4em;">
                        Welcome to
                    </h2>
                    <h1 class="title is-3 has-text-white">MOMpreneur Success Academy</h1>
    
                    <p>Our service techs are clean, courteous, polite and hard working. Get those nasty stains and terrible odors out of your carpet today!</p>
                    <br>
                    <a href="https://www.housecallpro.com/book/AAA-Pathfinders-Cleaning-Services/e5c1846efa0247f49e8bd302a298159c" target="_blank" class="primary-btn">Book Apppointment</a>
                </div>
            </div>
          </div>
        </div>
      </section>
