
{{ $hero := .Site.Data.homelayout.hero_image }}
{{ partial "global/navbar" . }}

    <section class="hero is-fullheight-with-navbar" style="background:url(/uploads/newbg.jpg) no-repeat;background-size:cover;background-position:80%">
        <div class="hero-body">
          <div class="container">
            <div class="columns">
                <div class="column is-half has-text-white">
                    <h2 class="subtitle" style="color: #ef9fb4;font-size: 4em;">
                       {{ $hero.subtitle }}
                    </h2>
                    <h1 class="title is-3 has-text-black">{{ $hero.heading }}</h1>
    
                    <p>{{ $hero.body | markdownify }}</p>
                    <br>
                    {{ if $hero.link }}
                    <div class="is-block">
                      <a href="{{ $hero.link }}" target="_blank" class="primary-btn">{{ $hero.link_text }}</a>
                    </div>
                    {{ end }}
                </div>
            </div>
          </div>
        </div>
      </section>
